@import "profile";

$white: #ffffff;
$topMargin: 40px;
$grayFont: #b1b1b1;
$papperPad: 50px;
$line: 1px solid rgb(184, 183, 183);
$wordSpacing: 20px;


body {
    margin: 0;
    display: flex;
    @include background(url("../background.jpg"));
    justify-content: center;
    align-items: center;
}

.paper {
    margin-top: $topMargin;
    margin-bottom: $topMargin;
    padding: $papperPad;
    width: 80%;
    background-color: $white;
    border-radius: 20px;
    .header {
        display: flex;
        flex-direction: column;
        border-bottom: $line;
        
    }
}

%base-font {
    font-family: 'Noto Sans', sans-serif;
}

#mainTitle {
    @extend %base-font;
    font-size: 60px;
}

.subGray {
    @extend %base-font;
    font-size: 30px;
    color: $grayFont;
    margin-bottom: $wordSpacing;
}

a {
    text-decoration: none;
    color: #000000;
}

.content {
    display: flex;
    .contact {
        border-right: $line;
        padding-right: $wordSpacing;
    }
}

.profile {
    width: 100%;
    margin-left: 20px;
}

.title {
    @extend %base-font;
    font-size: 40px;
    padding-top: $wordSpacing;
}
.subTitle {
    margin-top: $wordSpacing;
    @extend %base-font;
    font-size: 25px;
}

.text {
    @extend %base-font
}
.profile {
    .text {
        @extend %base-font;
        padding: $wordSpacing 0 $wordSpacing 0;
        border-bottom: $line;
    }
}

li {
    @extend %base-font;
    justify-content: flex-start;
}

@media screen and (max-width: 650px) {
    .content {
        flex-direction: column;
        border-right: none;
        .contact {
            border-right: none;
            align-self: center;
        }
        .profile {
            align-self: center;
        }
    }
}